.gotInsta {
    margin-bottom: 1em;
    max-width: 50%;
}

.gotsvg {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instaContainer1 {
    margin: 3em 0;
    padding: 3em ;
    padding-bottom: 5em !important;
    background-color: #e8edee !important;
}

p {
    margin-bottom: 0;
}

.instaColor {
    width: 53px;
    height: 10px;
    background-color: rgb(134, 51, 51);
}

.instaText {
    font-size: 2.5em;
    font-weight: 1000;
    color: rgb(134, 51, 51);
    font-family: 'Open Sans', sans-serif;
}

.img1 {
    width: 18%;
    max-height: 270px;
}

.instaContent {
    margin-top: 0.5em;
}

.instaIntro {
    font-size: 0.9em;
    max-width: 50%;
}

.insta-images {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .insta-images {
        display: flex;
        flex-direction: column;
    }
    .img1 {
        width: 90%;
        margin-top: 1em;
    }
}